extends blocks/page

block content
  main.login
    h1.login__title Sign in
    form.login__form(action="/login" method="post")
      input.form-control.login__field(
        class=(error ? 'login__field--invalid' : '' )
        type="text"
        name="username"
        id="username"
        placeholder="username"
        tabindex="1"
        autofocus
        required
      )
      input.form-control.login__field(
        class=(error ? 'login__field--invalid' : '' )
        type="password"
        name="password"
        id="password"
        placeholder="password"
        tabindex="1"
        required
      )
      button.button.button--outlined.login__button(type="submit") Login
