extends blocks/page
include blocks/iconLink

block head 
  link(rel="stylesheet" href="/styles/wish.css")
  script(defer type="module" src="/scripts/wish.js")

block content
  main
    form.wish(method="post")
      input.form-control.wish__field.wish__name(
        type="text"
        name="name"
        id="name"
        value= item.name
        placeholder="Description"
        autofocus
        required
      )
      div.wish__field.wish__container
        input.form-control.wish__link(
          type="url"
          name="link"
          id="link"
          value= item.link
          placeholder="Link"
          required
        )
        +iconLink(item.link, 'open-in-new.svg', 16, 16, "Icon Open In New", true)(class="wish__icon-link")
      input.form-control.wish__field.wish__price(
        type="number"
        name="price"
        id="price"
        min="0"
        step="any"
        value= item.price
        placeholder="Price"
        required
      )
      select.form-control.wish__field.wish__currency(name="currency_id" id="currency" required)
        each currency in currencies
          option(value=currency.id selected= currency.id === item.currency_id)= currency.name
      select.form-control.wish__field.wish__category(name="category_id" id="category" required)
        each category in categories
          option(value=category.id selected= category.id === item.category_id)= category.name
      input.form-control.wish__field.wish__sort(
        type="number"
        name="sort"
        id="sort"
        min="0"
        value= item.sort || 0
        placeholder="Sort"
      )
      div.wish__field.wish__container
        label.wish__archive
          input.form-control.wish__archive-field(
            type="checkbox"
            name="archive"
            id="archive"
            checked= item.archive
          )
          | Archive
      div.wish__action
        button.button.button--outlined(type="submit")= item.name ? "Save" : "Add"
        if item.name
          button#delete.button.button--error(type="button") Delete
