extends blocks/page
include blocks/iconLink

block head 
  script(defer type="module" src="/scripts/wish.js")

block content
  main
    form.wish(action="" method="post")
      input.form-control.wish__field.wish__name(
        type="text"
        name="name"
        id="name"
        value= item.name
        placeholder="Description"
        required
      )
      div.wish__field.wish__container
        input.form-control.wish__link(
          type="url"
          name="link"
          id="link"
          value= item.link
          placeholder="Link"
          required
        )
        +iconLink(item.link, 'open-in-new.svg', "Icon Open In New", true)(class="wish__icon-link")
      input.form-control.wish__field.wish__price(
        type="number"
        name="price"
        id="price"
        min="0"
        value= item.price
        placeholder="Price"
        required
      )
      select.form-control.wish__field.wish__currency(name="currencyId" id="currency" required)
        each currency in currencies
          option(value=currency.id selected= currency.id === item.currencyId)= currency.name
      select.form-control.wish__field.wish__category(name="categoryId" id="category" required)
        each category in categories
          option(value=category.id selected= category.id === item.categoryId)= category.name
      input.form-control.wish__field.wish__sort(
        type="number"
        name="sort"
        id="sort"
        min="0"
        value= item.sort || 0
        placeholder="Sort"
      )
      label.wish__archive
        input.form-control.wish__archive-field(
          type="checkbox"
          name="archive"
          id="archive"
          checked= item.archive
        )
        | Archive
      div.wish__action
        button.button.button--outlined(type="submit")= item.name ? "Save" : "Add"
        if item.name
          button#delete.button.button--error(type="button") Delete
