extends blocks/page
include blocks/iconLink
include blocks/link

block head 
  link(rel="stylesheet" href="/styles/wishes.css")
  script(defer type="module" src="/scripts/wishes.js")

block content
  main
    div.wishes__header
      h1.wishes__title Wishlist
      if editable
        input#visibility.wishes__checkbox(type="checkbox")
        label.wishes__visibility(for="visibility")
        +iconLink('/wishes/add', 'add.svg', 24, 24, "Add wish")(class="wishes__icon")
        +iconLink('/auth/logout', 'logout.svg', 24, 24, "Add wish")(class="wishes__icon")
    each category in categories
      section.wishes
        h2.wishes__category-title= category.name
        ul.wishes__list
          each wish in category.wishes 
            li.wishes__item(
              class={'wishes__item--archive': wish.archive, 'wishes__item--draggable': editable}
              draggable=editable.toString()
              id=wish.id
            )
              if editable
                +iconLink(
                  `/wishes/${wish.id}/edit`,
                  'settings.svg',
                  16,
                  16,
                  "Settings"
                )(class="wishes__cog")
              +link(wish.link, wish.name)
              | &nbsp;&mdash; 
              +link(`/wishes/${wish.id}/chart`, wish.price, false)(
                class={'wishes__price': true, 'wishes__price--falls': wish.diff < 0}
              )
